@{Layout = ""; }
@model ChangePasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AlgoIdentity | Change password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminLTE/fontawesome-free-5.9.0-web/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminLTE/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="~/fonts/Source_Sans_Pro/stylesheet.css" rel="stylesheet">
</head>



<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Algo</b>IDENTITY</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">@Localizer["Change your password"]</p>

                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReturnUrl" class="form-control" />
                    <input type="hidden" asp-for="UserId" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input type="password" asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input type="password" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPasswordRepeat" class="control-label"></label>
                        <input type="password" asp-for="NewPasswordRepeat" class="form-control" />
                        <span asp-validation-for="NewPasswordRepeat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button name="button" value="skip" class="btn btn-default" >@Localizer["Skip"]</button>
                        <button name="button" value="save" class="btn btn-primary float-right">@Localizer["Save change"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
