/*_HeaderNavbar css*/
#header_first {
    background: #0e2230 !important;
}
#header_logo {
    color: #dbdde0 !important;
}

#bell_icon {
    color: #dbdde0 !important;
}
#user_name {
    color: #dbdde0 !important;
}
/*_HeaderNavbar css END*/